#header1-5 H1 {
  font-size: 36px;
}
#dropdown-menu-2btn-4 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-4 .nav .link,
#dropdown-menu-2btn-4 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-4 .navbar,
#dropdown-menu-2btn-4 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2btn-4 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-4 .dropdown-menu a:hover,
#dropdown-menu-2btn-4 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2btn-4 .navbar-toggler {
  color: #ffffff;
}
#header1-15 H1 {
  font-size: 12px;
}
#dropdown-menu-2btn-16 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-16 .nav .link,
#dropdown-menu-2btn-16 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-16 .navbar,
#dropdown-menu-2btn-16 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2btn-16 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-16 .dropdown-menu a:hover,
#dropdown-menu-2btn-16 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2btn-16 .navbar-toggler {
  color: #ffffff;
}
#slider-17 P {
  text-align: center;
}
#slider-17 H1 {
  font-size: 36px;
  color: #faaf40;
}
#header1-b H1 {
  font-size: 36px;
}
#dropdown-menu-2btn-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-c .nav .link,
#dropdown-menu-2btn-c .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-c .navbar,
#dropdown-menu-2btn-c .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2btn-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-c .dropdown-menu a:hover,
#dropdown-menu-2btn-c .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2btn-c .navbar-toggler {
  color: #ffffff;
}
#header1-h H1 {
  font-size: 36px;
}
#dropdown-menu-2btn-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-i .nav .link,
#dropdown-menu-2btn-i .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-i .navbar,
#dropdown-menu-2btn-i .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2btn-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-i .dropdown-menu a:hover,
#dropdown-menu-2btn-i .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2btn-i .navbar-toggler {
  color: #ffffff;
}
#header1-t H1 {
  font-size: 36px;
}
#dropdown-menu-2btn-u .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-u .nav .link,
#dropdown-menu-2btn-u .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-u .navbar,
#dropdown-menu-2btn-u .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2btn-u .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-u .dropdown-menu a:hover,
#dropdown-menu-2btn-u .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2btn-u .navbar-toggler {
  color: #ffffff;
}
#header1-n H1 {
  font-size: 36px;
}
#dropdown-menu-2btn-o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-o .nav .link,
#dropdown-menu-2btn-o .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-o .navbar,
#dropdown-menu-2btn-o .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2btn-o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-o .dropdown-menu a:hover,
#dropdown-menu-2btn-o .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2btn-o .navbar-toggler {
  color: #ffffff;
}
#header1-z H1 {
  font-size: 36px;
}
#dropdown-menu-2btn-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-10 .nav .link,
#dropdown-menu-2btn-10 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-2btn-10 .navbar,
#dropdown-menu-2btn-10 .dropdown-menu {
  background: #3d8eb9;
}
#dropdown-menu-2btn-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-10 .dropdown-menu a:hover,
#dropdown-menu-2btn-10 .dropdown-menu a:focus {
  background: #3882aa;
}
#dropdown-menu-2btn-10 .navbar-toggler {
  color: #ffffff;
}
